anaconda-anon-usage @ file:///home/task_177490767889375/croot/anaconda-anon-usage_1774907925443/work
anaconda-auth @ file:///C:/Users/task_177681204867787/croot/anaconda-cloud-auth-split_1776812170843/work
anaconda-cli-base @ file:///C:/Users/task_177546923055330/croot/anaconda-cli-base_1775469327506/work
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
beautifulsoup4==4.15.0
boltons @ file:///C:/b/abs_e2_iokhxbp/croot/boltons_1751383740243/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
click @ file:///C:/miniconda3/conda-bld/click_1764332372183/work
conda @ file:///C:/Users/task_177585125271105/croot/conda_1775852147789/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///C:/b/abs_c9yejtsx9g/croot/conda-anaconda-tos_1755123332641/work
conda-content-trust @ file:///C:/Users/task_177526614975788/croot/conda-content-trust_1775266716142/work
conda-libmamba-solver @ file:///home/task_177680598199370/croot/conda-libmamba-solver_1776806057595/work/src
conda-package-handling @ file:///C:/miniconda3/conda-bld/conda-package-handling_1762366515145/work
conda_package_streaming @ file:///C:/miniconda3/conda-bld/conda-package-streaming_1762361689679/work
frozendict @ file:///C:/miniconda3/conda-bld/frozendict_1761750728192/work
jaraco.classes @ file:///C:/b/abs_6erueoob1v/croot/jaraco.classes_1755516340851/work
jaraco.context @ file:///C:/Users/task_176947773609372/croot/jaraco.context_1769477902330/work
jaraco.functools @ file:///C:/Users/task_176838914677671/croot/jaraco.functools_1768389438594/work
jsonpatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jsonpatch_1729054776004/work
jsonpointer @ file:///C:/Users/task_177443297879529/croot/jsonpointer_1774433101647/work
keyring @ file:///C:/miniconda3/conda-bld/keyring_1763637203252/work
libmambapy @ file:///C:/Users/task_177670021215392/croot/mamba-split_1776700394610/work/libmambapy
markdown-it-py @ file:///C:/Users/task_176700171154409/croot/markdown-it-py_1767001834659/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552277768/work
menuinst @ file:///C:/miniconda3/conda-bld/menuinst_1765382397455/work
more-itertools @ file:///C:/Users/task_177581921159914/croot/more-itertools_1775819427307/work
msgpack @ file:///C:/b/abs_4b3t4uhz3r/croot/msgpack-python_1750958631084/work
packaging==26.0
pkce @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkce_1729049216383/work
platformdirs @ file:///C:/Users/task_177365232702842/croot/platformdirs_1773652999051/work
pluggy @ file:///C:/Users/task_177697291181239/croot/pluggy_1776973044854/work
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pydantic-settings @ file:///C:/miniconda3/conda-bld/pydantic-settings_1764165236385/work
Pygments @ file:///C:/Users/task_177512670754876/croot/pygments_1775127039781/work
PyJWT @ file:///C:/Users/task_177377332477733/croot/pyjwt_1773773824330/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
pywin32-ctypes @ file:///C:/Users/task_176829651200310/croot/pywin32-ctypes_1768296624234/work
readchar @ file:///C:/miniconda3/conda-bld/readchar_1760613474723/work
rich @ file:///C:/miniconda3/conda-bld/rich_1760375661587/work
ruamel.yaml @ file:///C:/miniconda3/conda-bld/ruamel.yaml_1762536064547/work
ruamel.yaml.clib @ file:///C:/miniconda3/conda-bld/ruamel.yaml.clib_1762530094515/work
semver @ file:///C:/miniconda3/conda-bld/semver_1761903323755/work
setuptools==82.0.1
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912227081/work
soupsieve==2.8.4
tomli @ file:///C:/Users/task_176829653470725/croot/tomli_1768296655778/work
tomlkit @ file:///C:/miniconda3/conda-bld/tomlkit_1762896656167/work
truststore @ file:///C:/miniconda3/conda-bld/truststore_1762521027919/work
typer==0.20.0
typer-slim==0.20.0
typing_extensions==4.16.0
wheel==0.46.3
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278300/work
zstandard @ file:///C:/Users/task_177696044000206/croot/zstandard_1776960571506/work
